# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

playground/output
test/*/output

# temp folder used for generate types
temp

# example folder created by npm run create-example
example
marilena.config.mjs

# cypress
cypress/screenshots
cypress/videos

.env

.npmrc