<html>
  <title><%= it.email %> - <%= it.locale %></title>
  <head>
    <style>
      /* body only for this pages not for iframe */
      html > body {
        margin: 0;
        padding: 0;
      }

      iframe {
        width: 100%;
        height: 100%;
      }

      #send-form {
        position: absolute;
        right: 1rem;
        top: 1rem;
        display: flex;
        flex-direction: column;
      }
    </style>
  </head>

  <body>
    <!-- this file is mandatory for use modals -->
    <%~ include("./partials/modal.html") %>

    <!-- framwe that load email content -->
    <iframe src="<%= it.endpoint_email_content %>" id="email-frame"></iframe>

    <% if (it.defaultTo) { %>
    <form id="send-form">
      <button id="btnSendTest" type="submit">SEND EMAIL TO</button>
      <input
        type="email"
        id="send-form__input"
        value="<%= it.defaultTo %>"
        required
      />
    </form>
    <% } else { %> no send options <% } %>

    <script>
      function setupSocket() {
        const socket = new WebSocket("ws://localhost:8080/socket");

        // Listen for messages
        socket.addEventListener("message", (event) => {
          const message = event.data;
          if (message === "need_refresh") {
            document
              .getElementById("email-frame")
              .contentWindow.location.reload();
          }
        });
      }

      function setupFormSend() {
        const formEl = document.getElementById("send-form");
        if (!formEl) {
          return;
        }
        formEl.addEventListener("submit", sendTest);

        async function sendTest(event) {
          event.preventDefault();
          const inputTo = document.getElementById("send-form__input");
          const to = inputTo.value;
          const url = "<%= it.endpoint_send_test_email %>";
          const modalPreResultEl = document.getElementById(
            "modal-send-email__result",
          );

          const btnSendTestEl = document.getElementById("btnSendTest");
          const savedTextLabel = btnSendTestEl.innerHTML;

          // set loading state
          btnSendTestEl.innerHTML = "loading...";

          fetch(url, {
            method: "POST",
            body: JSON.stringify({
              to,
            }),
          })
            .then((response) => response.json())
            .then((res) => {
              modalPreResultEl.innerHTML = JSON.stringify(res, null, 2);
            })
            .catch((err) => {
              modalPreResultEl.innerHTML = JSON.stringify(err, null, 2);
            })
            .finally(() => {
              MicroModal.show("modal-send-email");
              btnSendTestEl.innerHTML = savedTextLabel;
            });
        }
      }

      setupSocket();
      setupFormSend();
    </script>
  </body>
</html>
